<div class="my-portfolio">

    <div class="title-controls">

        <div class="title">
            <h1>03</h1>
            <h3>PORTFOLIO</h3>
        </div>

        <div class="filter-controls">
            <ul>
                <li class="active">ALL</li>
                <li>UI/UX DESIGN</li>
                <li>PRODUCT DESIGN</li>
                <li>BRANDING</li>
                <li>WEB DESIGN</li>
            </ul>
        </div>

        <div class="section-controls">
            <button class="btn btn-disabled">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="text-lg iconify iconify--akar-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m11 5l-7 7l7 7m-7-7h16"></path></svg>
            </button>
            <button class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="text-lg iconify iconify--akar-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12h16m-7-7l7 7l-7 7"></path></svg>
            </button>
        </div>

    </div>

    <div class="swiper">
        <swiper-container slides-per-view="3" pagination="true" space-between="24">
            <swiper-slide>
                <div class="project project-1">
                    <div class="info-project">
                        <h3>Mobile Design</h3>
                        <h5>UI/UX Design</h5>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="project project-2">
                    <div class="info-project">
                        <h3>Title</h3>
                        <h5>Subtitle</h5>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="project project-3">
                    <div class="info-project">
                        <h3>Title</h3>
                        <h5>Subtitle</h5>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="project project-4">
                    <div class="info-project">
                        <h3>Title</h3>
                        <h5>Subtitle</h5>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="project project-5">
                    <div class="info-project">
                        <h3>Title</h3>
                        <h5>Subtitle</h5>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>

</div>