.main-container {

    background-color: transparent;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    transition: .3s all;

    .personal-logo {
        display: flex;
        align-items: center;
        height: 100%;
        img {
            height: 80%;
        }
    }

    .tabs {
        display: flex;
        ul {
            display: flex;
            gap: 3.5rem;
            list-style: none;
            padding: 0%;
            .nav-item {
                display: flex;
                align-items: center;
                a {
                    font-family: 'Montserrat-SemiBold';
                    font-size: .75rem;
                    color: #a9a9aa;
                    text-decoration: none;
                }
                a.active {
                    color: #fe390c;
                }
            }
        }
        }

    .contact {
        button {
            padding: 0.75rem 1rem;
            border: 1px solid #fe390c;
            border-radius: 4px;
            color: #fe390c;
            transition: .3s all;
            cursor: pointer;
            background-color: transparent;
            font-family: 'Montserrat-Medium';
            font-size: .75rem;

            &:hover {
                background-color: #fe390c;
                color: #fff;
            }
        }
    }

}

.bg-dark {
    background-color: #111214;
}