<div class="main-container">
    <nav>
        <app-navbar></app-navbar>
    </nav>

    <section>
        <p>Main Banner</p>
    </section>

    <section>
        <p>About Me</p>
    </section>

    <div>
        <p>Platforms</p>
    </div>

    <div>
        <app-lets-work></app-lets-work>
    </div>

    <section>
        <p>My Services</p>
    </section>

    <section>
        <app-projects></app-projects>
    </section>

    <div>
        <app-form-contact></app-form-contact>
    </div>
</div>